<div class="details-container" *ngIf="product">
  
  <div class="images-section">
    <div class="main-image">
      <img [src]="selectedImage" alt="Main product image">
    </div>
    <div class="thumbnail-images">
      <img *ngFor="let img of product.images" 
           [src]="img" 
           (click)="selectImage(img)"
           [class.active]="img === selectedImage">
    </div>
  </div>


  <div class="info-section">
    <h2>{{ product.title }}</h2>
    <p class="description">{{ product.description }}</p>
    <div class="rating">
      <span *ngFor="let star of getStarRating(product.rating)" class="star">&#9733;</span>
    </div>
    <p class="price">{{ product.price | currency:'EGP ' }}</p>
    
   
    <div class="stock" [ngClass]="{'in-stock': product.stock > 0, 'out-of-stock': product.stock === 0}">
      {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}
    </div>

    <div class="more-info">
      <div class="info-tab">Category: {{ product.category }}</div>
      <div class="info-tab">Brand: {{ product.brand }}</div>
    </div>

    <div class="actions">
      
      <button class="add-to-cart-btn" (click)="addToCart(product)" [disabled]="product.stock === 0">Add to Cart</button>
    </div>
  </div>
</div>


<div *ngIf="!product">
  <p>Loading product details...</p>
</div>
